<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta property="og:title" content="ADM: 아 맞다!" />
  <meta property="og:description" content="그때 그 시절에 어떤 영화나 드라마가 유행이였고 무슨 음악을 들었는지 또 그 시절의 키워드가 무었있었는지 서로 공감하는 공간" />
  <meta property="og:image" content="{{ url_for('static', filename='응답하라.png') }}" />
  <title>AMD 아 맞다 그때 그...</title>

  <!-- Bootstrap core CSS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
    type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/landing-page.css') }}">
  <script>
    function get_keyword(){
      let get_key = $('#get_key').val();
      let get_year = $('#get_year').val();
      if (get_key == '') {
        alert("키워드를 입력해주세요");
        $('#get_key').focus();
        return false;
     }
     alert(get_key+"를 등록하였습니다.")
     alert("등록하신 키워드는 누적해서 다음 사람에게 보여집니다")
     $.ajax({
              type: "POST",
              url: "/input_keyword",
              data: { 'key_give':get_key,'year_give':get_year },
              success: function (response) {
                  if (response['result'] == 'success') {
                   
                  }
              }
          });
    }
    function get_data() {
      let get_year = $('#get_year').val();
      let max = 2019;
      let min = 1999;
      $('#movie_list').empty();
      $('#drama_list').empty();
      $('#music_list').empty();
      $('#best_list').empty();
      if (get_year == '') {
        alert("가고 싶은 연도를 입력하세요");
        $('#get_year').focus();
        return false;
      }
      else if ((get_year > max) || (get_year < min)) {
        alert("2000~2019년 사이의 연도를 입력해주세요");
        $('#get_year').val('')
        $('#get_year').focus();
        return false;
      }
      alert(get_year+"로 떠납니다")
      alert("공감하는 컨텐츠를 눌러주세요")
      $.ajax({
        type: "GET",
        url: "/list_movie?want_year=" + get_year,
        data: {},
        success: function (response) {
          if (response['result'] == 'success') {
            let movies = response['movies'];
            for (let i = 0; movies.length; i++) {
              let movie = movies[i];
              let name = movie['name']
              let img_url=movie['img_url']
              let temp_html = `
                          <div class="col-lg-4">
                             <div class="testimonial-item mx-auto mb-5 mb-lg-0" onclick="agree_movie('${name}')">
                              <img class="img-fluid mb-3" src=${img_url} alt="">
                              <h5>${name}</h5>
                            </div>
                          </div>`
              $('#movie_list').append(temp_html)
            }
          } else {
            alert('검색이 실패하였습니다.');
          }
        }
      });
      $.ajax({
        type: "GET",
        url: "/list_drama?want_year=" + get_year,
        data: {},
        success: function (response) {
          if (response['result'] == 'success') {
            let dramas = response['dramas'];
            for (let i = 0; dramas.length; i++) {
              let drama = dramas[i];
              let name = drama['name']
              let img_url=drama['img_url']
              let temp_html = `
                          <div class="col-lg-4">
                             <div class="testimonial-item mx-auto mb-5 mb-lg-0" onclick="agree_drama('${name}')">
                              <img class="img-fluid mb-3" src=${img_url} alt="">
                              <h5>${name}</h5>
                            </div>
                          </div>`
              $('#drama_list').append(temp_html)
            }
          } else {
            alert('검색이 실패하였습니다.');
          }
        }
      });
      $.ajax({
        type: "GET",
        url: "/list_music?want_year=" + get_year,
        data: {},
        success: function (response) {
          if (response['result'] == 'success') {
            let musics = response['musics'];
            for (let i = 0; musics.length; i++) {
              let music = musics[i];
              let name = music['name']
              let img_url=music['img_url']
              let singer=music['singer']
              let temp_html = `
                          <div class="col-lg-4">
                             <div class="testimonial-item mx-auto mb-5 mb-lg-0" onclick="agree_music('${name}')">
                              <img class="img-fluid rounded-circle mb-3" src=${img_url} alt="">
                              <h5>${name}</h5>
                              <p class="font-weight-light mb-0">${singer}</p>
                            </div>
                          </div>`
              $('#music_list').append(temp_html)
            }
          } else {
            alert('검색이 실패하였습니다.');
          }
        }
      });
      $.ajax({
        type: "GET",
        url: "/best_list?want_year=" + get_year,
        data: {},
        success: function (response) {
          if (response['result'] == 'success') {
            let movie = response['movie'];
            let drama = response['drama'];
            let music = response['music'];
            let temp_html = `
                          <div class="col-lg-4">
                             <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                              <img class="img-fluid mb-3" src=${movie[0]['img_url']} alt="">
                              <h5>${movie[0]['name']}</h5>
                              <p class="font-weight-light mb-0">공감:${movie[0]['like']}</p>
                              <a href="https://www.youtube.com/results?search_query=${movie[0]['name']}"><i class="fab fa-instagram fa-2x fa-fw"></i></a>
                            </div>
                          </div>
                          <div class="col-lg-4">
                             <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                              <img class="img-fluid mb-3" src=${drama[0]['img_url']} alt="">
                              <h5>${drama[0]['name']}</h5>
                              <p class="font-weight-light mb-0">공감:${drama[0]['like']}</p>
                              <a href="https://www.youtube.com/results?search_query=${drama[0]['name']}"><i class="fab fa-instagram fa-2x fa-fw"></i></a>
                            </div>
                          </div><div class="col-lg-4">
                             <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                              <img class="img-fluid mb-3" src=${music[0]['img_url']} alt="">
                              <h5>${music[0]['name']}</h5>
                              <p class="font-weight-light mb-0">공감:${music[0]['like']}</p>
                              <a href="https://www.youtube.com/results?search_query=${music[0]['name']}"><i class="fab fa-instagram fa-2x fa-fw"></i></a>
                            </div>
                          </div>`
              $('#best_list').append(temp_html)
            }
           else {
            alert('검색이 실패하였습니다.');
          }
        }
      });
      $.ajax({
        type: "GET",
        url: "/make_keyword?want_year=" + get_year,
        data: {},
        success: function (response) {
          if (response['result'] == 'success') {
            let keyword = response['keyword'];
            let key=keyword['keyword_list'];
            make_keyword(key);
          } else {
            alert('검색이 실패하였습니다.');
          }
        }
      });
      
    }
  function agree_music(name){
    $.ajax({
              type: "POST",
              url: "/music/like",
              data: { 'name_give':name },
              success: function (response) {
                  if (response['result'] == 'success') {
                    alert(name+"에 공감합니다")
                  }
              }
          });
  }
  function agree_movie(name){
    $.ajax({
              type: "POST",
              url: "/movie/like",
              data: { 'name_give':name },
              success: function (response) {
                  if (response['result'] == 'success') {
                    alert(name+"에 공감합니다")
                  }
              }
          });
  }
  function agree_drama(name){
    $.ajax({
              type: "POST",
              url: "/drama/like",
              data: { 'name_give':name },
              success: function (response) {
                  if (response['result'] == 'success') {
                    alert(name+"에 공감합니다")
                  }
              }
          });
  }
  </script>
  <!-- Resources -->
  <script src="https://www.amcharts.com/lib/4/core.js"></script>
  <script src="https://www.amcharts.com/lib/4/charts.js"></script>
  <script src="https://www.amcharts.com/lib/4/plugins/wordCloud.js"></script>
  <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
  
  <!-- Chart code -->
  <script>
  function make_keyword(key) {
  
  // Themes begin
  am4core.useTheme(am4themes_animated);
  // Themes end
  
  
  var chart = am4core.create("chartdiv", am4plugins_wordCloud.WordCloud);
  var series = chart.series.push(new am4plugins_wordCloud.WordCloudSeries());
  
  series.accuracy = 4;
  series.step = 15;
  series.rotationThreshold = 0.7;
  series.maxCount = 200;
  series.minWordLength = 2;
  series.labels.template.margin(4,4,4,4);
  series.maxFontSize = am4core.percent(30);
  
  series.text = key; 
  
  series.colors = new am4core.ColorSet();
  series.colors.passOptions = {}; // makes it loop
  
  //series.labelsContainer.rotation = 45;
  series.angles = [0,-90];
  series.fontWeight = "700"
  
  setInterval(function () {
    series.dataItems.getIndex(Math.round(Math.random() * (series.dataItems.length - 1))).setValue("value", Math.round(Math.random() * 10));
   }, 10000)
  
  }; // end am4core.ready()
  </script>
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="#">
        <h3>AMD 아 맞다! project</h3>
      </a>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">AMD 아 맞다! 그때!!</h1>
          <h5>2000~2019</h5>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="text" class="form-control form-control-lg" id="get_year" placeholder="응답하라 그 시절 ex)2002 ">
              </div>
              <div class="col-12 col-md-3">
                <button type="button" class="btn btn-block btn-lg btn-primary" onclick="get_data()">Back to the</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>
  <!-- Testimonials -->
  <section class="testimonials text-center">
    <div class="container">
      <h2 class="mb-5">BEST<h4>(아이콘을 누르면 youtube로 이동합니다)</h4></h2>
      <div class="row" id="best_list">

      </div>
    </div>
  </section>
  <section class="testimonials text-center">
    <div class="container">
      <h2 class="mb-5">그때 그 영화</h2>
      <div class="row" id="movie_list">

      </div>
    </div>
  </section>
  <section class="testimonials text-center">
    <div class="container">
      <h2 class="mb-5">그때 그 드라마</h2>
      <div class="row" id="drama_list">
        
      </div>
    </div>
  </section>
  <section class="testimonials text-center">
    <div class="container">
      <h2 class="mb-5">그때 그 음악</h2>
      <div class="row" id="music_list">
        
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">대표하는 키워드는 뭐라고 생각하나요?</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="text" class="form-control form-control-lg" placeholder="당신이 생각하는 키워드는?" id="get_key">
              </div>
              <div class="col-12 col-md-3">
                <button type="text" class="btn btn-block btn-lg btn-primary" id="get_id"onclick="get_keyword()">등록</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer bg-light">
    <div id="chartdiv"></div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>