<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>AMD 아 맞다 그때 그...</title>

  <!-- Bootstrap core CSS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
    type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/landing-page.css') }}">
  <script>
    function get_data() {
      let get_year = $('#get_year').val();
      let max = 2019;
      let min = 1999;
      $('#movie_list').empty();
      $('#drama_list').empty();
      $('#music_list').empty();
      if (get_year == '') {
        alert("가고 싶은 연도를 입력하세요");
        $('#get_year').focus();
        return false;
      }
      else if ((get_year > max) || (get_year < min)) {
        alert("2000~2019년 사이의 연도를 입력해주세요");
        $('#get_year').val('')
        $('#get_year').focus();
        return false;
      }
      alert(get_year)
      $.ajax({
        type: "GET",
        url: "/list_movie?want_year=" + get_year,
        data: {},
        success: function (response) {
          if (response['result'] == 'success') {
            let movies = response['movies'];
            for (let i = 0; movies.length; i++) {
              let movie = movies[i];
              let name = movie['name']
              let img_url=movie['img_url']
              let temp_html = `
                          <div class="col-lg-4">
                             <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                              <img class="img-fluid mb-3" src=${img_url} alt="">
                              <h5>${name}</h5>
                            </div>
                          </div>`
              $('#movie_list').append(temp_html)
            }
          } else {
            alert('검색이 실패하였습니다.');
          }
        }
      });
      $.ajax({
        type: "GET",
        url: "/list_drama?want_year=" + get_year,
        data: {},
        success: function (response) {
          if (response['result'] == 'success') {
            let dramas = response['dramas'];
            for (let i = 0; dramas.length; i++) {
              let drama = dramas[i];
              let name = drama['name']
              let img_url=drama['img_url']
              let temp_html = `
                          <div class="col-lg-4">
                             <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                              <img class="img-fluid mb-3" src=${img_url} alt="">
                              <h5>${name}</h5>
                            </div>
                          </div>`
              $('#drama_list').append(temp_html)
            }
          } else {
            alert('검색이 실패하였습니다.');
          }
        }
      });
      $.ajax({
        type: "GET",
        url: "/list_music?want_year=" + get_year,
        data: {},
        success: function (response) {
          if (response['result'] == 'success') {
            let musics = response['musics'];
            for (let i = 0; musics.length; i++) {
              let music = musics[i];
              let name = music['name']
              let img_url=music['img_url']
              let singer=music['singer']
              let temp_html = `
                          <div class="col-lg-4">
                             <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                              <img class="img-fluid rounded-circle mb-3" src=${img_url} alt="">
                              <h5>${name}</h5>
                              <p class="font-weight-light mb-0">${singer}</p>
                            </div>
                          </div>`
              $('#music_list').append(temp_html)
            }
          } else {
            alert('검색이 실패하였습니다.');
          }
        }
      });
    }

  </script>
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="#">
        <h3>AMD 아 맞다! project</h3>
      </a>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">AMD 아 맞다! 그때!!</h1>
          <h5>2000~2019</h5>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="text" class="form-control form-control-lg" id="get_year" placeholder="응답하라 그 시절 ex)2002 ">
              </div>
              <div class="col-12 col-md-3">
                <button type="button" class="btn btn-block btn-lg btn-primary" onclick="get_data()">Back to the</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>
  <!-- Testimonials -->
  <section class="testimonials text-center">
    <div class="container">
      <h2 class="mb-5">그때 그 영화</h2>
      <div class="row" id="movie_list">

      </div>
    </div>
  </section>
  <section class="testimonials text-center">
    <div class="container">
      <h2 class="mb-5">그때 그 드라마</h2>
      <div class="row" id="drama_list">
        
      </div>
    </div>
  </section>
  <section class="testimonials text-center">
    <div class="container">
      <h2 class="mb-5">그때 그 음악</h2>
      <div class="row" id="music_list">
        
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Ready to get started? Sign up now!</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2020. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>