<!DOCTYPE html>
<html lang="en">

<head>
	<title>Hundo p 로그인</title>
	<meta charset="UTF-8">
	<!--===============================================================================================-->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
		integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
	<!--===============================================================================================-->
</head>

<body>
	<div id="form_wrapper">
		<div id="form_left">
			<img src="https://file.instiz.net/data/file/20140515/c/6/1/c61df9f3d905f752de111ef30bb6d7a9.jpg" alt="computer icon">
		</div>
		<div id="form_right">
			<h1>Hundo p</h1>
			<h2>100% 과제를 끝내자 </h2>
			<div class="input_container">
				<i class="fas fa-envelope"></i>
				<input placeholder="ID" type="email" name="Email" id="field_email" class='input_field'>
			</div>
			<div class="input_container">
				<i class="fas fa-lock"></i>
				<input placeholder="Password" type="password" name="Password" id="field_password" class='input_field'>
			</div>
			<input type="submit" value="Login" id='input_submit' class='input_field'>
			<span id='create_account'>
				<a href="/create.html">Create your account ➡ </a>
			</span>
		</div>
	</div>
</body>

</html>